<div class="container-fluid"style="width:1550px;margin-left:-210px"style="width: 100%; height:auto; background-color:white;color:black;padding-bottom:100px">
<div class="row">
    <!--phần chữ-->
    <div class="col-lg-12">
        <div style="text-align: justify;margin:18px;line-height: 30px;font-size:20px">
            <br>
            <h1><i style="font-family: cursive;font-size:60px">CONTACT</i></h1>
            <i>Mọi thắc mắc xin liên hệ SDT : 01122334455 hoặc 066778899. Mọi thắc mắc sẽ được tư vấn nhiệt tình.<br>
            Đến với chúng tôi tại địa chỉ : <b>12 Trịnh Đình Thảo, P.Hòa Thạnh, Q.Tân Phú, TP.HCM. </b><br><br>
        </div>
    </div>
</div>
<!--phần bản đồ -->
<div class="row">
    <div class="col-lg-12">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.910304719593!2d106.6343342!3d10.7746873!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x798819bdcd0522b0!2zVHLGsOG7nW5nIENhbyDEkOG6s25nIEPDtG5nIE5naOG7hyBUaMO0bmcgVGluIFRwLkjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1605700129623!5m2!1svi!2s"
        frameborder="0" style="border: 0; width: 60%;height:500px;display: block; margin-left:auto;margin-right:auto"
        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><br><br>
    </div>
</div>
