    <!--hình ảnh-->
    <div class="row"style="width:1500px;margin-left:-210px">
        <img src="IMAGES/ha1.jpg!d" class="w-25">
        <img src="IMAGES/ha3.jpg!s" class="w-25">
        <img src="IMAGES/ha2.jpg!d" class="w-25">
        <img src="IMAGES/ha4.jpg!s" class="w-25">
    </div>
    <!--footer-->
    <div class="container-fluid"style="width:1550px;margin-left:-210px">
        <div class="row text-light" style="background-color:black;padding-top:85px;">
            <!--footer_cột1-->
            <div class="col-lg-4 text-justify " style="padding-left:85px;line-height:30px">
                <img src="IMAGES/logonho.png" alt="" class="w-50"
                    style="display: block; margin-left: auto; margin-right: auto;">
                <hr>
                <p>
                    Pet House là cổng thông tin khổng lồ và hoàn toàn miễn phí về các vấn đề xung quanh thú cưng và động
                    vật
                    Chúng tôi mong muốn Mon‘s Pet sẽ trở thành địa chỉ tìm kiếm thông tin đáng tin cậy cho những người
                    quan tâm và yêu thương động vật.
                    Và quan trọng hơn, Monspet sẽ là người bạn đồng hành thân cậy với mọi người trong quá trình chăm sóc
                    thú nuôi. <br><br>
                    © 2020 All Rights Reserved<br><br><br>
                </p>
            </div>
            <!--footer_cột2-->
            <div class="col-lg-2" style="padding-left:85px;padding-top:130px;">
                <h5>Hỗ Trợ</h5>
                <hr>
                <ul>
                    <li>Hướng dẫn</li>
                    <li>Điều khoản</li>
                    <li>Bảo mật</li>
                    <li>Thanh toán</li>
                    <li>Giao hàng</li>
                    <li>Đổi trả</li>
                    <li>Gửi trả hàng</li>
                    <li>Trả góp</li>
                    <li>Dịch vụ</li>
                </ul>
            </div>
            <!--footer_cột3-->
            <div class="col-lg-2" style="padding-left:30px;padding-top:130px;">
                <h5>Phản Hồi: </h5>
                <hr>
                <form action="/action_page.php">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" placeholder="Enter email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Comment:</label>
                        <input type="password" class="form-control" placeholder="Enter commemt" id="pwd">
                    </div>
                    <button type="submit" class="btn btn-dark">Send</button>
                </form>
            </div>
            <!--footer_cột4-->
            <div class="col-lg-3" style="padding-left:100px;padding-top:130px;padding-bottom: 70px;">
                <h5>Liên Lạc</h5>
                <hr>
                <i class="bi bi-house-door-fill fa-1x" style="color:rgb(252, 252, 252)" aria-hidden="true"> 12 Trịnh
                    Đình Thảo, Tân Phú , TPHCM
                    10002, US</i><br><br>
                <i class="bi bi-sticky-fill fa-1x" style="color:rgb(247, 238, 242)" aria-hidden="true">
                    ngannganngongoitc.edu.vn</i><br><br>
                <i class="bi bi-phone-fill fa-1x" style="color:rgb(250, 246, 248)" aria-hidden="true"> +84 905
                    646578906</i><br><br>
                <i class="bi bi-unlock-fill fa-1x" style="color:rgb(253, 249, 251)" aria-hidden="true"> <a
                        href="#">https://pethouse.com</a></i><br><br>
                <i class="bi bi-twitter fa-3x mx-1"></i>

                <i class="bi bi-facebook fa-3x mx-1"></i>

                <i class="bi bi-instagram fa-3x mx-1"></i>
            </div>
        </div>
    </div>